# PostHog browser analytics
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_POSTHOG_KEY=KEY_HERE
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token
NEXT_PUBLIC_POSTHOG_HOST=https://your-posthog-host

NEXT_PUBLIC_INSFORGE_URL=URL_KEY_OR_REF
NEXT_PUBLIC_INSFORGE_ANON_KEY=KEY_HERE

NEXT_PUBLIC_BROWSERBASE_API_KEY=BROWSER_SECRET_KEY

NEXT_PUBLIC_ADZUNA_APPLICATION_ID=APP_ID
NEXT_PUBLIC_ADZUNA_APPLICATION_KEY=APP_KEY

OPENAI_API_KEY=ADD_YOUR_OPENAI_SECRET_API
